<a href="https://colab.research.google.com/github/varshapande/Project-of-machinelearning-/blob/main/Gsearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/train.csv (1).zip')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df.head()

    timestamp  Asset_ID  Count  ...       Volume          VWAP    Target
0  1514764860         2   40.0  ...    19.233005   2373.116392 -0.004218
1  1514764860         0    5.0  ...    78.380000      8.530000 -0.014399
2  1514764860         1  229.0  ...    31.550062  13827.062093 -0.014643
3  1514764860         5   32.0  ...  6626.713370      7.657713 -0.013922
4  1514764860         7    5.0  ...   121.087310     25.891363 -0.008264

[5 rows x 10 columns]